__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
data/bikes.csv
data/monthly/*.csv
data/output/
spark-warehouse/
metastore_db/
derby.log
dags/tableau_data/*.csv
logs/*
!logs/.gitkeep
dags/__pycache__/
dags/*.pyc
.env